<div class="container">
  <div class="row">
    <div class="col py-4">
      <%= content_tag :h3, Spree.t(:leave_us_a_review_for, name: @product.name) %>
      <%= render 'form', review: @review, product: @product %>
    </div>
  </div>
</div>

