:root {
  --star-box-size: 30px;
  --star-default-color: lightgrey;
  --star-active-color: white;
  --star-default-bg-color: white;
  --star-active-bg-color: #3cbb91;
  --fade-speed: 0.8s;
  --star-border-radius: 3px;
}
