:root {
  --star-box-size: 30px;
  --star-border-radius: 3px;
  --star-line-height: 1.8rem;
  --star-font-size: 1rem;
  --star-default-color: lightgrey;
  --star-active-color: white;
  --star-default-bg-color: white;
  --star-active-bg-color: #3cbb91;
  --fade-speed: 0.8s;
}
